<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Title</title>
    <style>
    	body{background: #eee;margin-top: 50px;}
    	#left{background: #fff;padding-top: 20px;}
    	#content{margin-top: 30px;}
    	.media{border-bottom: 1px solid #eee;}
    	.panel-body li{line-height: 30px;}
    	footer{background: #222;color:#ccc;margin-top: 20px;padding:10px 0 3px;}
    </style>
</head>
<body>
    <!--导航条-->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    	<div class="container">
    		<div class="navbar-header">
    			<!--响应式导航条-->
    			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a href="#" class="navbar-brand">Coder Wang</a>
    		</div>
    		<div class="collapse navbar-collapse" id="collapse">
    			<ul class="nav navbar-nav">
	    			<li><a href="#">首页</a></li>
	    			<li><a href="#">归档</a></li>
	    			<li><a href="#">标签</a></li>
    			</ul>
    			<ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
	    			<li><a href="#">链接</a></li>
	    			<li><a href="#">关于</a></li>
    			</ul>
    		</div>
    	</div>
    </nav>

    <!--页头图片-->
    <div>
    	<img src="/images/header-bg1.jpg" alt="" class="img-responsive">
    </div>

    <!--正文-->
    <div class="container" id="content">
    	<div class="row">
            <!--正文左侧-->
    		<div class="col-md-9" id="left">
    			<ul class="media-list text-center">
    				<li class="media" id="">
    					<div class="media-body">
    						<a href=""><h3 class="media-heading">媒体标题</h3></a>
    						<p><span><em class=""></em>admin</span>写于<strong>2018 年 06 月 14 日 18 时 29 分</strong> </p>
    						<p>内容内容内容</p>
    					</div>
    				</li>
					<li class="media">
    					<div class="media-body">
    						<a href=""><h3 class="media-heading">媒体标题</h3></a>
    						<p><span><em class=""></em>admin</span>写于<strong>2018 年 06 月 14 日 18 时 29 分</strong> </p>
    						<p>内容内容内容被</p>
    					</div>
    				</li>
    				<li class="media">
    					<div class="media-body">
    						<a href=""><h3 class="media-heading">媒体标题</h3></a>
    						<p><span><em class=""></em>admin</span>写于<strong>2018 年 06 月 14 日 18 时 29 分</strong> </p>
    						<p>内容内容内容被</p>
    					</div>
    				</li>
    				<li class="media">
    					<div class="media-body">
    						<a href=""><h3 class="media-heading">媒体标题</h3></a>
    						<p><span><em class=""></em>admin</span>写于<strong>2018 年 06 月 14 日 18 时 29 分</strong> </p>
    						<p>内容内容内容被</p>
    					</div>
    				</li>
    			</ul>
    		</div>

            <!--正文右侧-->
    		<div class="col-md-3 pull-right" id="right">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h3 class="panel-title">热门文章</h3>
    				</div>
    				<div class="panel-body">
    					<ul class="list-unstyled">
    						<li><label class="label label-danger">1</label> <a href="">内容内容内容内容内容内容</a></li>
    						<li><label class="label label-danger">2</label> <a href="">内容内容内容内容内容内容</a></li>
    						<li><label class="label label-danger">3</label> <a href="">内容内容内容内容内容内容</a></li>
    						<li><label class="label label-default">4</label> <a href="">内容内容内容内容内容内容</a></li>
    						<li><label class="label label-default">5</label> <a href="">内容内容内容内容内容内容</a></li>
    						<li><label class="label label-default">6</label> <a href="">内容内容内容内容内容内容</a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>


    <!--页脚-->
	<footer class="text-center navbar-fixed-bottom">
		<p>版权所有，保留一切权力！转载内容版权归作者及来源网站所有，原创内容转载请注明来源。</p>
		<p>Copyright &copy; John,All Rights Reserved.</p>
	</footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>